.services {
    .boxContainer {
        .box {
            text-align: center;
            padding: 2rem;
            background: var(--light-bg);
            border-radius: 0.5rem;

            img {
                height: 10rem;
                margin-bottom: 0.5rem;
            }

            h3 {
                padding: 1rem 0;
                font-size: 2rem;
                color: var(--black);
            }

            p {
                font-size: 1.4rem;
                color: var(--light-color);
                line-height: 2;
            }
        }
    }
}
